/target/
**/.DS_Store
/.dfx/
/.wasm_modules/
/canister_ids.json
**/node_modules/
**/.idea/
/.vscode/
/dist/
.env
target/
scripts/wasm/        # optional, if you ever used it before
upgrade_args.did
wasm_hex.txt
/packages/hstICP/ignition/deployments
/deps
